<ul>
<% @movies.each do |movie| %>
  <section class="movie">
    <div class="summary">
      <h2>
        <u><%= link_to(movie.title, movie_path(movie)) %> </u>
      </h2>
      <h3>
        <h6>Box Office Revenue: <%= total_gross(movie) %> </h6> 
      </h3>
      <p>
        <%= truncate(movie.description, length: 175, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>
</ul>

 <section class="admin">
    <%= link_to "Add New Movie", new_movie_path, class: "button" %>
  </section>