<ul>
<% @movies.each do |movie| %>
  <section class="movie">
    <div class="summary">
      <h2>
        <u><%= movie.title %> </u>
      </h2>
      <h3>
        <h6>Box Office Total: <%= total_gross(movie) %> </h6> 
      </h3>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>
</ul>

